.userPasswordForm{
	p {
	}
	div {
		label {
			display : inline-block;
			width : 200px;
		}
		input { 
			width : 300px;
		}
		.error {
			width : 300px;
			color : red;
			display : block;
		}
	}
}