/**
 * Test suite
 */
@mixin linkWithUIIcon {
	display					: inline-block; 
	position				: relative; 
	top						: 4px;
}
.targetUrl {
	@include linkWithUIIcon;
}
.testMe {
	@include linkWithUIIcon;
}
.requestInfo {
	.moreParams.ui-icon	{
		@include linkWithUIIcon;
	}
	.fullParams {
		display				: none;
	}
}
#testListTable {
	.error {
		background-image 	: inline-image("exclamation.gif", unquote('image/gif'));
		background-repeat	: no-repeat;
		padding-left		: 24px;
	}
	.testProcessing { 
		background-image 	: inline-image("loading.gif", unquote('image/gif'));
		background-repeat	: no-repeat;
		background-position	: center center;
		height				: 16px;
	}
}